In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
oes = pd.read_csv('output_data/oes_data_filtered_full.csv')
oes

/var/folders/y2/820f0d093ps3xgsy472nf3zc0000gn/T/ipykernel_4817/475560578.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  oes = pd.read_csv('output_data/oes_data_filtered_full.csv')

,naics,naics_title,occ_code,occ_title,bls_release_year,tot_emp,emp_prse,pct_total,h_mean,a_mean,...,a_pct25,a_median,a_pct75,a_pct90,year_tot_emp,naics_year_tot_emp,pct_year_tot_emp,pct_naics_year_tot_emp,soc_2010,soc_2018
0,113300,Logging,11-1011,Chief executives,2005,150.0,30.3,0.23,35.10,73010.0,...,41960.0,64190.0,86580.0,125610.0,127081780.0,61560.0,1.180342e-06,0.002437,11-1011,11-1011
1,113300,Logging,11-1021,General and operations managers,2005,950.0,12.6,1.46,37.61,78230.0,...,50070.0,65420.0,99680.0,125800.0,127081780.0,61560.0,7.475501e-06,0.015432,11-1021,11-1021
2,113300,Logging,13-1023,"Purchasing agents, except wholesale, retail, a...",2005,220.0,44.4,0.34,16.46,34250.0,...,24380.0,27890.0,41840.0,55640.0,127081780.0,61560.0,1.731169e-06,0.003574,13-1023,13-1023
3,113300,Logging,13-2011,Accountants and auditors,2005,90.0,28.9,0.14,21.47,44670.0,...,30590.0,42410.0,55820.0,68770.0,127081780.0,61560.0,7.082054e-07,0.001462,13-2011,13-2011
4,113300,Logging,19-1032,Foresters,2005,340.0,15.3,0.52,23.24,48340.0,...,33270.0,46860.0,64350.0,72740.0,127081780.0,61560.0,2.675443e-06,0.005523,19-1032,19-1032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759687,999300,Local Government (OES Designation),53-7071,Gas Compressor and Gas Pumping Station Operators,2010,110.0,4.4,0.00,18.11,37670.0,...,31010.0,36870.0,44610.0,51990.0,125231070.0,5580730.0,8.783763e-07,0.000020,53-7071,53-7071
759688,999300,Local Government (OES Designation),53-7072,"Pump Operators, Except Wellhead Pumpers",2010,240.0,10.6,0.00,19.08,39680.0,...,31020.0,39190.0,46330.0,56140.0,125231070.0,5580730.0,1.916457e-06,0.000043,53-7072,53-7072
759689,999300,Local Government (OES Designation),53-7081,Refuse and Recyclable Material Collectors,2010,47690.0,1.3,0.85,16.66,34650.0,...,23630.0,31520.0,42020.0,59860.0,125231070.0,5580730.0,3.808160e-04,0.008545,53-7081,53-7081
759690,999300,Local Government (OES Designation),53-7121,"Tank Car, Truck, and Ship Loaders",2010,40.0,28.8,0.00,20.23,42080.0,...,30030.0,37570.0,56780.0,69550.0,125231070.0,5580730.0,3.194096e-07,0.000007,53-7121,53-7121
759691,999300,Local Government (OES Designation),53-7199,"Material Moving Workers, All Other",2010,1590.0,7.7,0.03,16.71,34760.0,...,23130.0,35590.0,44000.0,50610.0,125231070.0,5580730.0,1.269653e-05,0.000285,53-7199,53-7199

In [3]:
oes_data_grp = oes.groupby(['bls_release_year', 'occ_code', 'soc_2010', 'soc_2018']).agg({'tot_emp': 'sum', 'pct_year_tot_emp': 'sum', 'pct_naics_year_tot_emp': 'sum'}).reset_index()

In [6]:
oes_data_grp.sort_values(by=['bls_release_year', 'soc_2018'], inplace=True)
oes_data_grp

,bls_release_year,occ_code,soc_2010,soc_2018,tot_emp,pct_year_tot_emp,pct_naics_year_tot_emp
0,2003,11-1011,11-1011,11-1011,388700.0,0.003339,1.233835
1,2003,11-1021,11-1021,11-1021,1891190.0,0.016244,6.663690
2,2003,11-1031,11-1031,11-1031,65280.0,0.000561,0.014070
3,2003,11-2011,11-2011,11-2011,66430.0,0.000571,0.242318
4,2003,11-2021,11-2021,11-2021,177350.0,0.001523,0.625863
...,...,...,...,...,...,...,...
17653,2024,53-7072,53-7072,53-7072,10080.0,0.000066,0.191910
17654,2024,53-7073,53-7073,53-7073,16720.0,0.000110,0.123369
17655,2024,53-7081,53-7081,53-7081,137130.0,0.000904,0.520731
17656,2024,53-7121,53-7121,53-7121,9200.0,0.000061,0.137423
17657,2024,53-7199,53-7199,53-7199,19680.0,0.000130,0.070435

In [ ]:
unique_2003_codes = oes

       bls_release_year occ_code  soc_2018
0                  2003  11-1011         1
1                  2003  11-1021         1
2                  2003  11-1031         1
3                  2003  11-2011         1
4                  2003  11-2021         1
...                 ...      ...       ...
17653              2024  53-7072         1
17654              2024  53-7073         1
17655              2024  53-7081         1
17656              2024  53-7121         1
17657              2024  53-7199         1

[17658 rows x 3 columns]