In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [4]:
crosswalk_dir = '/Users/sidsatya/dev/ailabor/data/bls/crosswalks/'
crosswalk_2000_to_2010 = pd.read_csv(os.path.join(crosswalk_dir, 'crosswalk_2000_to_2010.csv'))
crosswalk_2010_to_2018 = pd.read_csv(os.path.join(crosswalk_dir, 'crosswalk_2010_to_2018.csv'))
crosswalk_hybrid_2000_to_2010 = pd.read_csv(os.path.join(crosswalk_dir, 'crosswalk_hybrid_2000_to_2010.csv'))
crosswalk_hybrid_2010_to_2018 = pd.read_csv(os.path.join(crosswalk_dir, 'crosswalk_hybrid_2010_to_2018.csv'))

In [6]:
crosswalk_2000_to_2010.groupby('2000 SOC Code').agg({'2010 SOC Code': 'count'}).reset_index().sort_values(by='2010 SOC Code', ascending=False)

    2000 SOC Code  2010 SOC Code
72        15-1081              5
306       29-1111              4
640       49-9099              3
335       29-2099              3
273       27-3031              3
..            ...            ...
816       55-3015              1
817       55-3016              1
818       55-3017              1
819       55-3018              1
3         11-2011              1

[821 rows x 2 columns]

In [7]:
crosswalk_2000_to_2010[crosswalk_2000_to_2010['2000 SOC Code'] == '15-1081']

,2000 SOC Code,2000 SOC Title,2010 SOC Code,2010 SOC Title
78,15-1081,Network Systems and Data Communications Analysts*,15-1122,Information Security Analysts
79,15-1081,Network Systems and Data Communications Analysts*,15-1134,Web Developers
80,15-1081,Network Systems and Data Communications Analysts*,15-1142,Network and Computer Systems Administrators**
81,15-1081,Network Systems and Data Communications Analysts*,15-1143,Computer Network Architects**
82,15-1081,Network Systems and Data Communications Analysts*,15-1152,Computer Network Support Specialists

In [9]:
cw_00_to_10_dict = crosswalk_2000_to_2010.set_index("2000 SOC Code")["2010 SOC Code"].to_dict()
cw_00_to_10_dict['15-1081']

'15-1152'

In [ ]:
oes_2012 = pd.read_csv('/Users/sidsatya/dev/ailabor/data/bls/na/oes_2012.csv')